h1, h5{
    text-align: center;
}

.description
{
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    height: 500px;
    width: 300px;
}
.textOverlay
{
    position: absolute;
    top: 50%;
    left: 50%;
    right: -20%;
    transform: translate(-50%, -50%);
}